
<p>
Please restore the broken window glass.
</p>

<p>
You are given a list of lists as input values.
Each list of integer represents a piece.
It always has a horizontal base, which forms the upper or lower side of the window.
Each integer represents the height from the base and is a value measured at equal intervals from the left edge. Therefore, the length of the list represents width.
</p>
<p>
The answer should be returned in the two lists. (upper list, lower list in order)
</p>
<ul>
    <li>In the output, each piece is represented in the order given as input. (starting with 0)</li>
    <li>The bases of the pieces in the same list must always be adjacent to each other.</li>
    <li>It is not necessary to consider turning over piece.</li>
</ul>
<img src='{{MEDIA}}example_01.png' title='example'>


<div class="for_info_only">
    <p><strong>Example:</strong></p>
{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">
</pre>
{% else %}
<pre class="brush: python" style="font-family:'Courier New',Courier;">
broken_window([[1, 0], [1, 0]] == ([0], [1])                                       # or ([1], [0])
broken_window([[4, 0], [0, 1, 4, 0], [3, 0], [0, 3, 4, 1]] == ([1, 2], [0, 3])     # or ([3, 0], [2, 1])
</pre>
{% endif %}

</div>

<p><strong>Input: </strong>
{% if interpreter.slug == "js-node" %}
{% else %}
The pieces of the broken window. (list of list of integers)
{% endif %}
</p>

<p><strong>Output: </strong>
List of top pieces and list of bottom pieces. (both list of integers)
</p>


<!--
<p>
<strong>How it is used:</strong><br>
</p>
-->

<p>
<strong>Precondition:</strong><br>
<ul>
    <li>1 &le; width of window &le; 20</li>
    <li>1 &le; height of window &le; 18</li>
</ul>
</p>

